/.project

/bin/*
/bin/**

/FewsDemo_HydPy-Lahn/*.ini
/FewsDemo_HydPy-Lahn/log.txt*
/FewsDemo_HydPy-Lahn/*.jar
/FewsDemo_HydPy-Lahn/*.exe
/FewsDemo_HydPy-Lahn/*.log
/FewsDemo_HydPy-Lahn/running

/FewsDemo_HydPy-Lahn/_MapTileCache/OSM/
/FewsDemo_HydPy-Lahn/_MapTileCache/Satellite_Cache/
/FewsDemo_HydPy-Lahn/_MapTileCache/WMSLayers/
/FewsDemo_HydPy-Lahn/Config/*.cbin
/FewsDemo_HydPy-Lahn/DumpFiles/*.zip
/FewsDemo_HydPy-Lahn/localDataStore/*.fdb
/FewsDemo_HydPy-Lahn/localDataStore/*.cbin
/FewsDemo_HydPy-Lahn/Modules/HydPy/
/FewsDemo_HydPy-Lahn/temp/

/jre/*
/jre/**
